
.table-container{
    padding: 0 20px 20px 20px;
    margin: 20px;
    border-collapse: collapse;
    &.country{
        width:250px;
    }
    &.infected{
        width: 570px;
    }
    thead{
        color:grey;
        font-size: 14px;
        border-bottom: 2px solid #ddd;
    }
    th,td{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        height: 15px;
        text-align: left;
        padding: 6px 10px;
        vertical-align: middle;
        border-bottom: 1px solid lightgray;
        
    }
    tr{
        &:hover{
            background-color:darken(white,10%);
        }
    }
    .tr-dead{
        color:#ce463d;
        font-weight: bold;
    }
}