div.card{
    background-color:#73BA9B;
    width: 250px;
    height: 50px;
    box-shadow: 0px 0px 15px -4px #4A4A4A;
    margin: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    &:hover{
        background-color:darken(#73BA9B, 10%);
    }
    h2{
        font-family: 'Roboto', sans-serif;
        color:#F1FAEE;
    }
}